<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Houston</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>

<h1>Houston</h1>
<p>
    Houston-is the most populous city in Texas and in the Southern United
    States. It is the fourth-most populous city in the United States after New
    York City, Los Angeles, and Chicago, and the sixth-most populous city in
    North America. With a population of 2,304,580 in 2020, Houston is located
    in Southeast Texas near Galveston Bay and the Gulf of Mexico, it is the
    seat and largest city of Harris County and the principal city of the
    Greater Houston metropolitan area, which is the fifth-most populous
    metropolitan statistical area in the United States and the second-most
    populous in Texas after Dallas–Fort Worth. Houston is the southeast anchor
    of the greater megaregion known as the Texas Triangle. Comprising a land
    area of 640.4 square miles (1,659 km2), Houston is the ninth-most
    expansive city in the United States (including consolidated
    city-counties). It is the largest city in the United States by total area
    whose government is not consolidated with a county, parish, or borough.
    Though primarily in Harris County, small portions of the city extend into
    Fort Bend and Montgomery counties, bordering other principal communities
    of Greater Houston such as Sugar Land and The Woodlands.
</p>